# utilities
numpy
pandas

# face recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# for database 
supabase

#for hashing
bcrypt

#for qr code generation
segno

#for image preprocessing
pillow

streamlit